In [26]:
%matplotlib inline
%run ./dependencies.py
%run ./utility_functions.py

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [3]:
repo_directory = Path('D:\Kaggle\Titanic_Repo')
code_path = repo_directory / 'Code'
data_path = repo_directory / 'Data'

In [4]:
df = pd.read_csv(data_path / 'train.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.head(80)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Split the whole available data into a training set and a test set. Do not involve the test set in the training procedure, but apply pre-processing (i.e. get rid of missing values, encode categorical variables, etc.)

In [8]:
df_train, df_test = split_training_set(df, 0.1)
print('The training data contains {0} columns and {1} rows'.format(df_train.shape[1], df_train.shape[0]))
print('The test data contains {0} columns and {1} rows'.format(df_test.shape[1], df_test.shape[0]))

The training data contains 12 columns and 802 rows
The test data contains 12 columns and 89 rows

Pre-Processing

The following utility functions may be applied: 
encode_categorical_vars() --- to transform categorical variables to numerical ones via the dummy variable approach

In [9]:
#Encode Sex and Embarked variables
df_train = encode_categorical_vars(df_train, ['Sex', 'Embarked'])
#Set mean for 'NaN' fields in Age
df_train['Age'].fillna(df_train['Age'].mean(), inplace = True)

In [10]:
#mutiplied Age gives different accuracy
df_train['Age_multiplied'] = df_train['Age']/1000

In [17]:
df_train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Age_multiplied,Deck
250,251,0,3,"Reed, Mr. James George",male,29.750657,0,0,362316,7.2500,NaN,S,0,1,0,0,1,0.029751,Z
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.000000,0,2,363291,20.5250,NaN,S,0,1,0,0,1,0.009000,Z
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.000000,4,2,347082,31.2750,NaN,S,1,0,0,0,1,0.009000,Z
625,626,0,1,"Sutton, Mr. Frederick",male,61.000000,0,0,36963,32.3208,D50,S,0,1,0,0,1,0.061000,D
388,389,0,3,"Sadlier, Mr. Matthew",male,29.750657,0,0,367655,7.7292,NaN,Q,0,1,0,1,0,0.029751,Z
76,77,0,3,"Staneff, Mr. Ivan",male,29.750657,0,0,349208,7.8958,NaN,S,0,1,0,0,1,0.029751,Z
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.000000,0,0,347464,7.8542,NaN,S,0,1,0,0,1,0.028000,Z
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.000000,1,0,19996,52.0000,C126,S,0,1,0,0,1,0.048000,C
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.000000,0,0,7598,8.0500,NaN,S,0,1,0,0,1,0.045000,Z
327,328,1,2,"Ball, Mrs. (Ada E Hall)",female,36.000000,0,0,28551,13.0000,D,S,1,0,0,0,1,0.036000,D

In [33]:
df_train['Deck'] = df_train["Cabin"].str[0]

In [34]:
df_train.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Age_multiplied,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_Z,Deck
250,251,0,3,"Reed, Mr. James George",male,29.750657,0,0,362316,7.2500,NaN,S,0,1,0,0,1,0.029751,0,0,0,0,0,0,0,1,NaN
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.000000,0,2,363291,20.5250,NaN,S,0,1,0,0,1,0.009000,0,0,0,0,0,0,0,1,NaN
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.000000,4,2,347082,31.2750,NaN,S,1,0,0,0,1,0.009000,0,0,0,0,0,0,0,1,NaN
625,626,0,1,"Sutton, Mr. Frederick",male,61.000000,0,0,36963,32.3208,D50,S,0,1,0,0,1,0.061000,0,0,0,1,0,0,0,0,D
388,389,0,3,"Sadlier, Mr. Matthew",male,29.750657,0,0,367655,7.7292,NaN,Q,0,1,0,1,0,0.029751,0,0,0,0,0,0,0,1,NaN
76,77,0,3,"Staneff, Mr. Ivan",male,29.750657,0,0,349208,7.8958,NaN,S,0,1,0,0,1,0.029751,0,0,0,0,0,0,0,1,NaN
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.000000,0,0,347464,7.8542,NaN,S,0,1,0,0,1,0.028000,0,0,0,0,0,0,0,1,NaN
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.000000,1,0,19996,52.0000,C126,S,0,1,0,0,1,0.048000,0,0,1,0,0,0,0,0,C
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.000000,0,0,7598,8.0500,NaN,S,0,1,0,0,1,0.045000,0,0,0,0,0,0,0,1,NaN
327,328,1,2,"Ball, Mrs. (Ada E Hall)",female,36.000000,0,0,28551,13.0000,D,S,1,0,0,0,1,0.036000,0,0,0,1,0,0,0,0,D
321,322,0,3,"Danoff, Mr. Yoto",male,27.000000,0,0,349219,7.8958,NaN,S,0,1,0,0,1,0.027000,0,0,0,0,0,0,0,1,NaN
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.000000,0,0,693,26.0000,NaN,S,0,1,0,0,1,0.064000,0,0,0,0,0,0,0,1,NaN
590,591,0,3,"Rintamaki, Mr. Matti",male,35.000000,0,0,STON/O 2. 3101273,7.1250,NaN,S,0,1,0,0,1,0.035000,0,0,0,0,0,0,0,1,NaN
291,292,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.000000,1,0,11967,91.0792,B49,C,1,0,1,0,0,0.019000,0,1,0,0,0,0,0,0,B
465,466,0,3,"Goncalves, Mr. Manuel Estanslas",male,38.000000,0,0,SOTON/O.Q. 3101306,7.0500,NaN,S,0,1,0,0,1,0.038000,0,0,0,0,0,0,0,1,NaN
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.500000,0,0,364499,8.0500,NaN,S,0,1,0,0,1,0.030500,0,0,0,0,0,0,0,1,NaN
442,443,0,3,"Petterson, Mr. Johan Emil",male,25.000000,1,0,347076,7.7750,NaN,S,0,1,0,0,1,0.025000,0,0,0,0,0,0,0,1,NaN
670,671,1,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.000000,1,1,29750,39.0000,NaN,S,1,0,0,0,1,0.040000,0,0,0,0,0,0,0,1,NaN
462,463,0,1,"Gee, Mr. Arthur H",male,47.000000,0,0,111320,38.5000,E63,S,0,1,0,0,1,0.047000,0,0,0,0,1,0,0,0,E
286,287,1,3,"de Mulder, Mr. Theodore",male,30.000000,0,0,345774,9.5000,NaN,S,0,1,0,0,1,0.030000,0,0,0,0,0,0,0,1,NaN

In [35]:
df_train['Deck'].unique()

array([nan, 'D', 'C', 'B', 'E', 'A', 'G', 'F', 'T'], dtype=object)

In [36]:
df_train['Deck'].fillna('Z', inplace=True)

In [37]:
# Apparently there is one person with Deck 'T', which seems to be an error on the Data. Replace by 'Z'.
df_train.loc[df_train['Deck']=='T', 'Deck'] = 'Z'

In [23]:
df_train = encode_categorical_vars(df_train, ['Deck'])

In [31]:
df_train.drop('Deck', axis=1, inplace=True)

In [32]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Age_multiplied,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_Z
250,251,0,3,"Reed, Mr. James George",male,29.750657,0,0,362316,7.2500,NaN,S,0,1,0,0,1,0.029751,0,0,0,0,0,0,0,1
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.000000,0,2,363291,20.5250,NaN,S,0,1,0,0,1,0.009000,0,0,0,0,0,0,0,1
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.000000,4,2,347082,31.2750,NaN,S,1,0,0,0,1,0.009000,0,0,0,0,0,0,0,1
625,626,0,1,"Sutton, Mr. Frederick",male,61.000000,0,0,36963,32.3208,D50,S,0,1,0,0,1,0.061000,0,0,0,1,0,0,0,0
388,389,0,3,"Sadlier, Mr. Matthew",male,29.750657,0,0,367655,7.7292,NaN,Q,0,1,0,1,0,0.029751,0,0,0,0,0,0,0,1

In [40]:
df_train['fam_size'] = df_train['SibSp'] + df_train['Parch']

In [45]:
df_train['travels_alone'] = 0
df_train['travels_alone'] = df_train['fam_size'].apply(lambda x: 1 if x==0 else 0)

In [46]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Age_multiplied,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_Z,Deck,fam_size,travels_alone
250,251,0,3,"Reed, Mr. James George",male,29.750657,0,0,362316,7.2500,NaN,S,0,1,0,0,1,0.029751,0,0,0,0,0,0,0,1,Z,0,1
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.000000,0,2,363291,20.5250,NaN,S,0,1,0,0,1,0.009000,0,0,0,0,0,0,0,1,Z,2,0
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.000000,4,2,347082,31.2750,NaN,S,1,0,0,0,1,0.009000,0,0,0,0,0,0,0,1,Z,6,0
625,626,0,1,"Sutton, Mr. Frederick",male,61.000000,0,0,36963,32.3208,D50,S,0,1,0,0,1,0.061000,0,0,0,1,0,0,0,0,D,0,1
388,389,0,3,"Sadlier, Mr. Matthew",male,29.750657,0,0,367655,7.7292,NaN,Q,0,1,0,1,0,0.029751,0,0,0,0,0,0,0,1,Z,0,1

All pre-processing done? Then proceed with the training procedure

Sample usage (copy the following line in a new cell):
training_example = training_proc(df_train,['Survived', 'Pclass', 'Fare'])

In [27]:
#Standard train
training_example = training_proc(df_train,['Survived', 'Pclass', 'Age','Fare', 'Sex_female', 'Sex_male', 
                                           'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G'])

Your dataframe is formally correct. Continue with the training routine.


XgBoost:
Model with rank 1
Mean Accuracy score: 0.8329 (sd: 0.0202)

Random Forest:
Model with rank 1
Mean Accuracy score: 0.8267 (sd: 0.0176)

C:\Users\Arne\anaconda3\envs\titanic\lib\site-packages\sklearn\model_selection\_search.py:281: UserWarning: The total space of parameters 48 is smaller than n_iter=100. Running 48 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

ANN:
Model with rank 1
Mean Accuracy score: 0.7781 (sd: 0.0172)

In [210]:
training_example

[XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
               colsample_bynode=1, colsample_bytree=1, gamma=0.1, gpu_id=-1,
               importance_type='gain', interaction_constraints=None,
               learning_rate=0.01, max_delta_step=0, max_depth=9,
               min_child_weight=1, missing=nan, monotone_constraints=None,
               n_estimators=100, n_jobs=0, num_parallel_tree=1,
               objective='binary:logistic', random_state=0, reg_alpha=1e-05,
               reg_lambda=1, scale_pos_weight=1, subsample=0.8, tree_method=None,
               validate_parameters=False, verbosity=None),
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                        criterion='entropy', max_depth=200, max_features='auto',
                        max_leaf_nodes=1000, max_samples=None,
                        min_impurity_decrease=0.001, min_impurity_split=None,
                        min_samples_leaf=4, min_samples_split=9,
                        min_weight_fraction_leaf=0.0, n_estimators=100,
                        n_jobs=None, oob_score=False, random_state=None,
                        verbose=0, warm_start=False),
 MLPClassifier(activation='relu', alpha=0.1, batch_size='auto', beta_1=0.9,
               beta_2=0.999, early_stopping=True, epsilon=1e-08,
               hidden_layer_sizes=(100, 100), learning_rate='adaptive',
               learning_rate_init=0.001, max_fun=15000, max_iter=200,
               momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
               power_t=0.5, random_state=None, shuffle=True, solver='adam',
               tol=0.0001, validation_fraction=0.1, verbose=False,
               warm_start=False)]

In [125]:
#Experimental train with multiplied Age
training_example = training_proc(df_train,['Survived', 'Pclass','Fare', 
                                           'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S'])

Your dataframe is formally correct. Continue with the training routine.


XgBoost:
Model with rank 1
Mean Accuracy score: 0.8142 (sd: 0.0317)

Random Forest:
Model with rank 1
Mean Accuracy score: 0.8130 (sd: 0.0269)

ANN:
Model with rank 1
Mean Accuracy score: 0.7382 (sd: 0.0351)

Apply the fitted estimators to the test data

Sample usage:
test_proc(df_test, ['Survived', 'Pclass', 'Fare'], training_example)